.sat-main-view {

      .main-text-area {
        .x-form-text-default.x-form-textarea {
          font-weight: 400;
          font-family: Flama-Basic;
          color: #2ac8ef
        }
      }

      .threat-level {
        color: #38a8ff;
        font-size: 9px;
        text-align: left;
      }
      .start-button {
        .x-btn-inner {
          font-size: 14px;
          font-weight: 600;
        }
      }

      .x-form-checkbox-default {
        background: url(images/form/checkbox.png) no-repeat;
        width: 15px;
        height: 15px;
        margin-top: 38px;
      }
      .x-form-cb-checked .x-form-checkbox-default {
          background: url("images/check-on.png");
          width: 20px;
          height: 18px;
          margin-top: 38px;
      }
      .x-form-cb-checked .x-field-default-form-checkbox-focus {
          background: url("images/check-on.png");
          width: 20px;
          height: 18px;
      }
     .main-panel .x-autocontainer-outerCt {
//         background: #fbfbfb;
         font-family: Flama-Basic;
         border: #dddddd;
     }

    .x-grid-cell-special {
        visibility: hidden;
     }

    .x-grid-item-selected {
      background-color: #ffffff;
    }

    .x-grid-item-over {
      background-color: #ffffff;
    }

    .init-grid .x-grid-item-container {
      padding-left: 14px;
    }

    .results-grid .x-grid-item-container {
      padding-left: 7px;
    }

    .x-grid-view {
      border-radius: 8px;
      border-style: solid;
      border-width: thin;
      border-color: rgb(211, 211, 211);
    }
}