.sat-main-view {

      .main-text-area {
        .x-form-text-default.x-form-textarea {
          font-weight: 400;
          font-family: Flama-Basic;
          color: #2ac8ef
        }
      }

      .threat-level {
        color: #38a8ff;
        font-size: 9px;
        text-align: left;
      }
      .start-button {
        .x-btn-inner {
          font-size: 14px;
          font-weight: 600;
        }
      }

      .x-form-checkbox-default {
        margin-top: 38px;
      }

     .main-panel .x-autocontainer-outerCt {
//         background: #fbfbfb;
         font-family: Flama-Basic;
         border: #dddddd;
     }

    .x-grid-cell-special {
        visibility: hidden;
    }

    .x-grid-item-selected {
      background-color: #ffffff;
    }

    .x-grid-item-over {
      background-color: #ffffff;
    }

    .results-grid .x-grid-item-container {
      padding-left: 15px;
    }

    .results-grid .x-grid-cell-inner {
      margin-top:10px;
    }

    .results-grid .x-grid-with-row-lines .x-grid-item {
      height: 110px;
    }

    .x-grid-view {
      border-radius: 8px;
      border-style: solid;
      border-width: thin;
      border-color: rgb(211, 211, 211);
    }

    .results-grid .x-grid-with-row-lines .x-grid-item:first-child {
      border-top-width: 0px;
      height:120px;
    }

    .results-grid .x-grid-with-row-lines .x-grid-item:last-child {
      border-bottom-width: 0px;
    }

    .x-draw-container {
//      top: -18px;
      left: -10px;
    }

    .x-grid-item-focused .x-grid-cell-inner {
      z-index: initial;
    }

    .x-form-cb-checked .x-form-checkbox-default {
      background-position: -15px -15px;
    }
}